.policy-dir .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.policy-dir .ant-tree-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.policy-item-tab .ant-tabs-tabpane {
  padding-left: 0 !important;
}

.policy-item-tab .ant-tabs-content {
  height: 100%;
}

.policy-item-tab .ant-tabs-tabpane.ant-tabs-tabpane-active {
  height: 100%;
}

.history-gain-table .ant-table-thead .ant-table-cell,
.trade-log-table .ant-table-thead .ant-table-cell {
  background-color: #f1f5f9;
}

.history-gain-table table,
.trade-log-table table {
  border-collapse: collapse !important;
}

.history-gain-table .ant-table-thead > tr > th,
.trade-log-table .ant-table-thead > tr > th {
  text-align: center;
}

.history-gain-table .ant-table-cell,
.trade-log-table .ant-table-cell {
  font-size: 12px;
  text-align: center;
}

.history-gain-table .child-row .ant-table-cell {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.upload-control .ant-upload-wrapper {
  display: flex;
  align-items: center;
}

.upload-control .ant-upload-list {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.upload-control .ant-upload-list-item {
  margin-top: 0 !important;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.ant-collapse-header {
  display: flex;
  align-items: center;
}

.ant-alert-description {
  white-space: pre-line;
}

.ant-collapse {
  margin-top: 1rem !important;
}

.ant-switch:not(.ant-switch-checked) {
  background-color: rgba(0, 0, 0, 0.25);
}
